# Make README documentation (excluded from language stats)
README.md linguist-documentation=true

# Force detection of project files as Other
*.pbix linguist-detectable=true linguist-language=Other
*.xlsx linguist-detectable=true linguist-language=Other
project-summary.md linguist-detectable=true linguist-language=Other

# Images
images_powerbi_project/* linguist-vendored=true
