*.pbix linguist-detectable=true
*.pbix linguist-language=YAML

*.xlsx linguist-detectable=true  
*.xlsx linguist-language=YAML

README.md linguist-documentation=true

images_powerbi_project/* linguist-vendored=true
