[Project Configuration]
   Name=Power BI Data Analysis Project
   Type=Business Intelligence
   DataSource=Real_Data_Survey_Taken_By_Employees.xlsx
   ReportFile=Power BI Project.pbix
   Version=1.0
   Author=SKumar154
   
   [Files]
   MainReport=Power BI Project.pbix
   DataFile=Real_Data_Survey_Taken_By_Employees.xlsx
   Images=images_powerbi_project/
